.mediaViewInfo {
	--web-view-name: cast;
	--web-view-id: cast;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: cast;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.cast_Class {
	position: absolute;
	width: 100%;
	height: 1894px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: cast;
	--web-view-id: cast;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

.RepeatGrid_Class {
	position: absolute;
	width: 24px;
	height: 22px;
	left: 10px;
	top: 11px;
	overflow: hidden;
}
.Group_s_Class {
	position: absolute;
	width: 24px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_t_Class {
	fill: rgba(181,166,171,1);
}

.Group_u_Class {
	position: absolute;
	width: 24px;
	height: 2px;
	left: 0px;
	top: 9px;
	overflow: visible;
}
.Rectangle_v_Class {
	fill: rgba(181,166,171,1);
}

.Group_w_Class {
	position: absolute;
	width: 24px;
	height: 2px;
	left: 0px;
	top: 18px;
	overflow: visible;
}
.Rectangle_x_Class {
	fill: rgba(181,166,171,1);
}

.n_______Class {
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	top: 356.217px;
	position: absolute;
	overflow: visible;
	width: 321px;
	height: 150px;
	text-align: left;
	font-family: Meiryo;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.n_1_Class {
	fill: rgba(1,1,1,1);
	stroke: rgba(78,73,73,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 290px;
	top: 544.766px;
	transform: matrix(1,0,0,1,0,0);
}

.header__Class {
	position: absolute;
	width: 284px;
	height: 253px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	top: 1689px;
	overflow: visible;
}
.n_2022_Club_mimi_Class {
	left: 60.5px;
	top: 290px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(51,51,51,1);
	letter-spacing: 1px;
}
.Preview__Class {
	position: absolute;
	width: 247px;
	height: 48px;
	left: 18px;
	top: 0px;
	overflow: visible;
}
.n_-25-3_1F_TEL_0422-27-1850_OP_Class {
	left: 0px;
	top: 106px;
	position: absolute;
	overflow: visible;
	width: 285px;
	height: 106px;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(112,112,112,1);
}
.n_18_Class {
	position: absolute;
	width: 334px;
	height: 963px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	top: 991px;
	overflow: visible;
}
.n_17_Class {
	position: absolute;
	width: 334px;
	height: 204px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.n_11__2_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.neiro_Class {
	position: absolute;
	width: 100%;
	height: 63%;
	left: 0px;
	top: 0px;
	overflow: visible;
}

.name-my-style1 {
	font-size: 18px;
	color: #5d5d5d;
	letter-spacing: 0.5px;
	line-height: 1.3;
}

.name-my-style2 {
	font-size: 14px;
	color: #5d5d5d;
	line-height: 1.3;
}

.name_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_ba_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_bb_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 118px;
	top: 0px;
	overflow: visible;
}
.serina_Class {
	position: absolute;
	width: 100%;
	height: 63%;;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.name_bd_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_be_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_bf_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 236px;
	top: 0px;
	overflow: visible;
}
.kanon_Class {
	position: absolute;
	width: 100%;
	height: 63%;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.name_bh_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_bi_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_17_bj_Class {
	position: absolute;
	width: 334px;
	height: 204px;
	left: 0px;
	top: 261px;
	overflow: visible;
}
.n_11__2_bk_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.mika_Class {
	position: absolute;
	width: 100%;
	height: 63%;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.name_bm_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_bn_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_bo_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 118px;
	top: 0px;
	overflow: visible;
}
.n_12_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12 {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_bq_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_br_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_bs_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 236px;
	top: 0px;
	overflow: visible;
}
.n_12_bt_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12_bt {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_bu_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_bv_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_17_bw_Class {
	position: absolute;
	width: 334px;
	height: 204px;
	left: 0px;
	top: 522px;
	overflow: visible;
}
.n_11__2_bx_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.n_12_by_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12_by {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_bz_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_b_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_b_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 118px;
	top: 0px;
	overflow: visible;
}
.n_12_b_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12_b {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_ca_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_cb_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_ca_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 236px;
	top: 0px;
	overflow: visible;
}
.n_12_ca_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12_ca {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_cc_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_cd_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_17_b_Class {
	position: absolute;
	width: 334px;
	height: 204px;
	left: 0px;
	top: 783px;
	overflow: visible;
}
.n_11__2_cb_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.n_12_cb_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12_cb {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_ce_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_cf_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_ce_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 118px;
	top: 0px;
	overflow: visible;
}
.n_12_cf_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12_cf {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_cg_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_ch_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.n_11__2_ci_Class {
	position: absolute;
	width: 98px;
	height: 204px;
	left: 236px;
	top: 0px;
	overflow: visible;
}
.n_12_cj_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12_cj {
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 129px;
	left: 0px;
	top: 0px;
}
.name_ck_Class {
	left: 22.5px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.name_cl_Class {
	left: 22.5px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
}
.Cast_List_Class {
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	top: 147px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Meiryo;
	font-style: normal;
	font-weight: normal;
}
.Club_mimi__Class {
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	top: 180px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Meiryo;
	font-style: normal;
	font-weight: normal;
}

.insta-class {
	text-align: center;
	top: 1784px;
	width: 100%;
	position: absolute;
}

.insta-img {
width: 106px;
}
